In [141]:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import pandas as pd

In [147]:
#connect to MySQL server on local computer
conn = mysql.connector.connect(
    #specify server address as "localhost" which connects to database on my computer
    host="localhost",  
    #define communication port
    port=3306,
    #default MySQL admin username
    user="root",
    #set password to connect to MySQL server
    password="Short_Bus_Alumni",
    #specify database to use
    database="mysql_DGW_final"
)
#creates cursor object to allow interaction with MySQL server
cursor = conn.cursor()
#creates database "mysql_inat_tree" only if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS mysql_DGW_final")
#confirmation of successfull database creation
print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

In [149]:
#specifies connection string using info from above code chunk
DATABASE_URL = "mysql+mysqlconnector://root:Short_Bus_Alumni!@localhost/mysql_DGW_final" 
#establishes connection to mysql database using string in "DATABASE_URL"
engine = create_engine(DATABASE_URL)
#confirmation of connection
print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [151]:
#creates variable "inventory", read in csv file "Arborist_Elite_inventory.csv" from specified path
inventory = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\Arborist_Elite_inventory.csv")

In [153]:
#print first 5 rows of dataset
print(inventory.head())

   Tree_ID            harvested   latitude  longitude Species_ID County_ID  \
0        1  1991-01-01 12:28:44  39.665733 -74.374300       SP01      Co01
1        2  1991-01-04 16:52:40  39.416780 -74.666270       SP01      Co02
2        3  1991-01-05 23:19:35  39.666780 -74.721830       SP01      Co02
3        4  1991-01-07 14:19:30  39.383944 -75.138033       SP02      Co03
4        5   1991-01-10 4:05:45  39.819855 -74.551643       SP01      Co04

    DIA  VOLBFNET
0  11.2      43.0
1  10.1      29.0
2  11.4      56.2
3  11.9      65.9
4  10.7      38.0

In [155]:
#prints column names, types, and null counts
print(inventory.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tree_ID     8790 non-null   int64
 1   harvested   8790 non-null   object
 2   latitude    8790 non-null   float64
 3   longitude   8790 non-null   float64
 4   Species_ID  8790 non-null   object
 5   County_ID   8790 non-null   object
 6   DIA         8790 non-null   float64
 7   VOLBFNET    8790 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 549.5+ KB
None

In [157]:
#creates a table, if it does not already exist, named "inventory"
#adds columns for each within the dataset plus 1 for the primary key
##I wasn't sure if i needed to create a primary key since i already created a column 
##in the dataset called "primary_key" assigning each row a unique value
cursor.execute("""
    CREATE TABLE IF NOT EXISTS inventory (       
    Tree_ID INT NOT NULL,               
    harvested DATE NOT NULL,                             
    latitude FLOAT NOT NULL,                  
    longitude FLOAT NOT NULL,                 
    Species_ID VARCHAR(255) NOT NULL,                     
    County_ID VARCHAR(255) NOT NULL,
    DIA FLOAT NOT NULL,
    VOLBFNET FLOAT NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [159]:
#iterate over each row in "data" and inputs columns into "inventory" table
for index, row in inventory.iterrows():
    cursor.execute(
        """
        INSERT INTO inventory (
            Tree_ID,
            harvested,
            latitude,
            longitude,
            Species_ID,
            County_ID,
            DIA,
            VOLBFNET
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (
            row['Tree_ID'],
            row['harvested'],
            row['latitude'],
            row['longitude'],
            row['Species_ID'],
            row['County_ID'],
            row['DIA'],
            row['VOLBFNET']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [161]:
#creates variable "species_key", read in csv file "DGW_final_species_key.csv" from specified path
species_key = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\DGW_final_species_key.csv")

In [45]:
#prints column names, types, and null counts
print(species_key.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Species_ID    8 non-null      object
 1   Species_name  8 non-null      object
 2   Common_name   8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes
None

In [163]:
#creates a table, if it does not already exist, named "species_key"
cursor.execute("""
    CREATE TABLE IF NOT EXISTS species_key (                        
    Species_ID VARCHAR(255) NOT NULL,                     
    Species_name VARCHAR(255) NOT NULL,
    Common_name VARCHAR(255) NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [165]:
#iterate over each row in "species_key" and inputs columns into "species_key" table
for index, row in species_key.iterrows():
    cursor.execute(
        """
        INSERT INTO species_key (
            Species_ID,
            Species_name,
            Common_name
        ) VALUES (%s, %s, %s)
        """,
        (
            row['Species_ID'],
            row['Species_name'],
            row['Common_name']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [167]:
#creates variable "lumber_price", read in csv file "DGW_final_lumber_price.csv" from specified path
lumber_price = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\DGW_final_lumber_price.csv")

In [53]:
#prints column names, types, and null counts
print(lumber_price.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Species_ID  8 non-null      object
 1   Price_BDFT  8 non-null      float64
dtypes: float64(1), object(1)
memory usage: 260.0+ bytes
None

In [169]:
#creates a table, if it does not already exist, named "lumber_price"
cursor.execute("""
    CREATE TABLE IF NOT EXISTS lumber_price (                        
    Species_ID VARCHAR(255) NOT NULL,                     
    Price_BDFT VARCHAR(255) NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [171]:
#iterate over each row in "lumber_price" and inputs columns into "lumber_price" table
for index, row in lumber_price.iterrows():
    cursor.execute(
        """
        INSERT INTO lumber_price (
            Species_ID,
            Price_BDFT
        ) VALUES (%s, %s)
        """,
        (
            row['Species_ID'],
            row['Price_BDFT']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [190]:
#creates variable "county_key", read in csv file "DGW_final_county_key.csv" from specified path
county_key = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\DGW_final_county_key.csv")

In [61]:
#prints column names, types, and null counts
print(county_key.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   County_ID    21 non-null     object
 1   County_name  21 non-null     object
dtypes: object(2)
memory usage: 468.0+ bytes
None

In [192]:
#creates a table, if it does not already exist, named "county_key"
cursor.execute("""
    CREATE TABLE IF NOT EXISTS county_key (                        
    County_ID VARCHAR(255) NOT NULL,                     
    County_name VARCHAR(255) NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [194]:
#iterate over each row in "county_key" and inputs columns into "county_key" table
for index, row in county_key.iterrows():
    cursor.execute(
        """
        INSERT INTO county_key (
            County_ID,
            County_name
        ) VALUES (%s, %s)
        """,
        (
            row['County_ID'],
            row['County_name']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [196]:
#creates variable "sales", read in csv file "DGW_sales.csv" from specified path
sales = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\DGW_sales.csv")

In [181]:
#prints column names, types, and null counts
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sales_id     318 non-null    int64
 1   sales_date   318 non-null    object
 2   sales_price  318 non-null    float64
 3   customer_id  318 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 10.1+ KB
None

In [71]:
#print first 5 rows of dataset
print(sales.head())

   sales_id  sales_date  sales_price  customer_id
0         1   7/29/1991     52899.00         1001
1         2    1/5/1992     73143.00         1002
2         3   5/16/1992     73605.00         1003
3         4  10/28/1992     74119.50         1004
4         5   3/13/1993     83102.25         1005

In [198]:
#creates a table, if it does not already exist, named "sales"
cursor.execute("""
    CREATE TABLE IF NOT EXISTS sales (                        
    sales_id INT NOT NULL,                     
    sales_date VARCHAR(255) NOT NULL,
    sales_price FLOAT NOT NULL,                     
    customer_id INT NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [200]:
#iterate over each row in "sales" and inputs columns into "sales" table
for index, row in sales.iterrows():
    cursor.execute(
        """
        INSERT INTO sales (
            sales_id,
            sales_date,
            sales_price,
            customer_id
        ) VALUES (%s, %s, %s, %s)
        """,
        (
            row['sales_id'],
            row['sales_date'],
            row['sales_price'],
            row['customer_id']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [202]:
#creates variable "customers", read in csv file "customers.csv" from specified path
customers = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\customers.csv")

In [103]:
#prints column names, types, and null counts
print(customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          318 non-null    int64
 1   first_name  318 non-null    object
 2   last_name   318 non-null    object
 3   Address1    318 non-null    object
 4   Address2    318 non-null    object
 5   City        318 non-null    object
 6   State       318 non-null    object
 7   Zip         318 non-null    int64
dtypes: int64(2), object(6)
memory usage: 20.0+ KB
None

In [105]:
#print first 5 rows of dataset
print(customers.head())

     id first_name last_name              Address1  Address2        City  \
0  1001      Clywd    Kopfen     90 Red Cloud Road  Apt 1483      Boston
1  1002  Katharine  Dunseath       2 Michigan Lane   Apt 683      Spring
2  1003      Glynn   Jeavons     4 Montana Parkway  Apt 1707  Washington
3  1004        Bel   Lerwill    21804 Onsgard Pass   Apt 491      Pueblo
4  1005      Eleen     Blyth  2748 Sullivan Circle   Apt 699  Birmingham

                  State    Zip
0         Massachusetts   2163
1                 Texas  77386
2  District of Columbia  20036
3              Colorado  81010
4               Alabama  35231

In [204]:
#creates a table, if it does not already exist, named "customers"
cursor.execute("""
    CREATE TABLE IF NOT EXISTS customers (                        
    id INT NOT NULL,                     
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,                     
    Address1 VARCHAR(255) NOT NULL,
    Address2 VARCHAR(255) NOT NULL,
    City VARCHAR(255) NOT NULL,
    State VARCHAR(255) NOT NULL,
    Zip INT NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [206]:
#iterate over each row in "customers" and inputs columns into "customers" table
for index, row in customers.iterrows():
    cursor.execute(
        """
        INSERT INTO customers (
            id,
            first_name,
            last_name,
            Address1,
            Address2,
            City,
            State,
            Zip
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (
            row['id'],
            row['first_name'],
            row['last_name'],
            row['Address1'],
            row['Address2'],
            row['City'],
            row['State'],
            row['Zip']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [208]:
#creates variable "logs", read in csv file "inventory_logs.csv" from specified path
logs = pd.read_csv("C:\\Users\\mikef\\Documents\\Data_Warehouse\\inventory_logs.csv")

In [210]:
#prints column names, types, and null counts
print(logs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7950 entries, 0 to 7949
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tree_ID      7950 non-null   int64
 1   harvested    7950 non-null   object
 2   latitude     7950 non-null   float64
 3   longitude    7950 non-null   float64
 4   Species_ID   7950 non-null   object
 5   County_ID    7950 non-null   object
 6   DIA          7950 non-null   float64
 7   VOLBFNET     7950 non-null   float64
 8   Price_BDFT   7950 non-null   float64
 9   sales_price  7950 non-null   float64
 10  sales_id     7950 non-null   int64
dtypes: float64(6), int64(2), object(3)
memory usage: 683.3+ KB
None

In [133]:
#print first 5 rows of dataset
print(logs.head())

   Tree_ID       harvested   latitude  longitude Species_ID County_ID   DIA  \
0        1  1/1/1991 12:28  39.665733 -74.374300       SP01      Co01  11.2
1        2  1/4/1991 16:52  39.416780 -74.666270       SP01      Co02  10.1
2        3  1/5/1991 23:19  39.666780 -74.721830       SP01      Co02  11.4
3        4  1/7/1991 14:19  39.383944 -75.138033       SP02      Co03  11.9
4        5  1/10/1991 4:05  39.819855 -74.551643       SP01      Co04  10.7

   VOLBFNET  Price_BDFT  sales_price  sales_id
0      43.0        52.5      2257.50         1
1      29.0        52.5      1522.50        57
2      56.2        52.5      2950.50        57
3      65.9       100.8      6642.72       113
4      38.0        52.5      1995.00       119

In [212]:
#creates a table, if it does not already exist, named "logs"
cursor.execute("""
    CREATE TABLE IF NOT EXISTS logs (                        
    Tree_ID INT NOT NULL,               
    harvested VARCHAR(255) NOT NULL,                             
    latitude FLOAT NOT NULL,                  
    longitude FLOAT NOT NULL,                 
    Species_ID VARCHAR(255) NOT NULL,                     
    County_ID VARCHAR(255) NOT NULL,
    DIA FLOAT NOT NULL,
    VOLBFNET FLOAT NOT NULL,
    Price_BDFT VARCHAR(255) NOT NULL,
    sales_price FLOAT NOT NULL,
    sales_ID INT NOT NULL
    )
""")
#prints confirmation that table is created if it hasn't been already
print("Table ensured successfully!")

Table ensured successfully!

In [214]:
#iterate over each row in "logs" and inputs columns into "logs" table
for index, row in logs.iterrows():
    cursor.execute(
        """
        INSERT INTO logs (
            Tree_ID,
            harvested,
            latitude,
            longitude,
            Species_ID,
            County_ID,
            DIA,
            VOLBFNET,
            Price_BDFT,
            sales_price,
            sales_id
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """,
        (
            row['Tree_ID'],
            row['harvested'],
            row['latitude'],
            row['longitude'],
            row['Species_ID'],
            row['County_ID'],
            row['DIA'],
            row['VOLBFNET'],
            row['Price_BDFT'],
            row['sales_price'],
            row['sales_id']
        )
    )

#commit the transaction to save changes
conn.commit()
#prints confirmation of successful data input 
print("Data inserted successfully!")

Data inserted successfully!

In [216]:
# Close your connection :)
cursor.close()
conn.close()